{% extends 'base_front.html.twig' %}

{% block title %}Villa Agency - Home{% endblock %}

{% block body %}

  {% include 'home/partials/header.html.twig' %}

  <div class="main-banner">
    <div class="owl-carousel owl-banner">
        <div class="item" style="background-image: url('{{ asset('assets_front/images/images/banner-01.jpg') }}'); background-size:cover; background-position:center;">
            <div class="header-text">
                <span class="category">Tunis, <em>Tunisie</em></span>
                <h2>Bienvenue sur<br>Vianova Voyage</h2>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ asset('assets_front/images/images/banner-02.jpg') }}'); background-size:cover; background-position:center;">
            <div class="header-text">
                <span class="category">Sousse, <em>Tunisie</em></span>
                <h2>Trouvez<br>l'hébergement idéal</h2>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ asset('assets_front/images/images/banner-03.jpg') }}'); background-size:cover; background-position:center;">
            <div class="header-text">
                <span class="category">Djerba, <em>Tunisie</em></span>
                <h2>Réservez<br>dès maintenant !</h2>
            </div>
        </div>
    </div>
</div>

  <div class="featured section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="left-image">
            <img src="{{ asset('assets_front/images/images/featured.jpg') }}" alt="">
          </div>
        </div>
        <div class="col-lg-5">
          <div class="section-heading">
            <h6>| Featured</h6>
            <h2>Best Appartment &amp; Sea view</h2>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Best useful links ?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Get <strong>the best villa</strong> website template in HTML CSS and Bootstrap for your business.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How does this work ?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Why is Villa Agency the best ?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info-table">
            <ul>
              <li>
                <img src="{{ asset('assets_front/images/images/info-icon-01.png') }}" alt="" style="max-width: 52px;">
                <h4>250 m2<br><span>Total Flat Space</span></h4>
              </li>
              <li>
                <img src="{{ asset('assets_front/images/images/info-icon-02.png') }}" alt="" style="max-width: 52px;">
                <h4>Contract<br><span>Contract Ready</span></h4>
              </li>
              <li>
                <img src="{{ asset('assets_front/images/images/info-icon-03.png') }}" alt="" style="max-width: 52px;">
                <h4>Payment<br><span>Payment Process</span></h4>
              </li>
              <li>
                <img src="{{ asset('assets_front/images/images/info-icon-04.png') }}" alt="" style="max-width: 52px;">
                <h4>Safety<br><span>24/7 Under Control</span></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="row">
              <div class="col-lg-4">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="34" data-speed="1000"></h2>
                  <p class="count-text">Buildings<br>Finished Now</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="12" data-speed="1000"></h2>
                  <p class="count-text">Years<br>Experience</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="24" data-speed="1000"></h2>
                  <p class="count-text">Awards<br>Won 2026</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="properties section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="section-heading text-center">
                    <h6>| Hébergements</h6>
                    <h2>Nos Meilleurs Hébergements</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for hebergement in hebergements %}
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    {% if hebergement.imagePath %}
                        <img src="{{ asset('uploads/hebergements/' ~ hebergement.imagePath) }}" alt="{{ hebergement.description }}">
                    {% else %}
                        <img src="{{ asset('assets_front/images/images/property-01.jpg') }}" alt="">
                    {% endif %}
                    <span class="category">{{ hebergement.type ? hebergement.type.nom : 'Hébergement' }}</span>
                    <h6>{{ hebergement.prix }} TND</h6>
                    <h4>{{ hebergement.description|slice(0,40) }}</h4>
                    <ul>
                        <li>Chambres: <span>{{ hebergement.no|length }}</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="{{ path('app_property_details', {'id': hebergement.id}) }}">Voir & Réserver</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-12 text-center">
                <p>Aucun hébergement disponible pour le moment.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

  {% include 'home/partials/footer.html.twig' %}

{% endblock %}