<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <ul class="info">
          <li><i class="fa fa-envelope"></i> vianova.com</li>
          <li><i class="fa fa-map"></i> Tunis, Tunisie Lac1 33160</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4">
        <ul class="social-links">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="{{ path('app_home') }}" class="logo"><h1>Vianova</h1></a>
          <ul class="nav">
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li><a href="{{ path('app_destinations') }}">Destination</a></li>
            <li><a href="{{ path('app_hebergements_front') }}">Hébergement</a></li>
            <li><a href="{{ path('app_activite_index') }}">Activité</a></li>
            <li><a href="{{ path('app_properties') }}">Properties</a></li>
            <li><a href="{{ path('avis_index') }}">Avis</a></li>
            <li><a href="{{ path('reclamation_index') }}">Réclamations</a></li>
            <li><a href="{{ path('app_blog_index') }}">Blog</a></li>
            <li><a href="{{ path('app_contact') }}">
              <i class="fa fa-envelope" style="margin-right:5px;"></i> Contact
            </a></li>

            {% if app.user %}
              {# Bouton Admin uniquement pour ROLE_ADMIN #}
              {% if is_granted('ROLE_ADMIN') %}
                <li>
                  <a href="{{ path('app_admin') }}" style="color:#d4845a; font-weight:600;">
                    <i class="fa fa-cog"></i> Admin
                  </a>
                </li>
              {% endif %}

              {# Prénom → page profil #}
              <li>
                <a href="{{ path('admin_profile') }}" style="font-weight:600; color:#d4845a;">
                  <i class="fa fa-user-circle"></i> {{ app.user.prenom }}
                </a>
              </li>

              {# Déconnexion #}
              <li>
                <a href="{{ path('admin_logout') }}" title="Déconnexion" style="color:#ef4444;">
                  <i class="fa fa-sign-out-alt"></i>
                </a>
              </li>

            {% else %}
              {# Bouton Login #}
              <li>
                <a href="{{ path('admin_login') }}" style="color:#d4845a; font-weight:600;">
                  <i class="fa fa-user"></i> Login
                </a>
              </li>
            {% endif %}
          </ul>
          <a class="menu-trigger"><span>Menu</span></a>
        </nav>
      </div>
    </div>
  </div>
</header>
