<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <ul class="info">
          <li><i class="fa fa-envelope"></i> vianova.com</li>
          <li><i class="fa fa-map"></i> Tunis,Tunisie Lac1 33160</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4">
        <ul class="social-links">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="{{ path('app_home') }}" class="logo">
            <h1>Vianova</h1>
          </a>

          <ul class="nav">
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li><a href="{{ path('app_properties') }}">Destination</a></li>
            <li><a href="{{ path('app_properties') }}">Hébergement</a></li>
            <li><a href="{{ path('app_activite_index') }}">Activité</a></li>
            <li><a href="{{ path('app_contact') }}">Blog</a></li>
            <li><a href="{{ path('app_contact') }}">Avis</a></li>
          </ul>

          <a class="menu-trigger">
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>