<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>{% block title %}Villa Agency{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('vendor_front/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets_front/css/css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ asset('assets_front/css/css/templatemo-villa-agency.css') }}">
        <link rel="stylesheet" href="{{ asset('assets_front/css/css/owl.css') }}">
        <link rel="stylesheet" href="{{ asset('assets_front/css/css/animate.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('vendor_front/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor_front/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets_front/js/js/isotope.min.js') }}"></script>
        <script src="{{ asset('assets_front/js/js/owl-carousel.js') }}"></script>
        <script src="{{ asset('assets_front/js/js/counter.js') }}"></script>
        <script src="{{ asset('assets_front/js/js/custom.js') }}"></script>
    {% endblock %}
</body>
</html>